.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    width: 600px;
    height: 40px;
    border: 2px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    outline: none;
    color: #6d6c6c;

    &:focus {
      border-color: #22a6b3;
    }

    &:hover {
      border-color: #22a6b3;
    }

    &::placeholder {
      color: #aaa;
      letter-spacing: 2px;
    }
  }
}
